body{
    background-color: #000000;
}
a{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: #616161;
    text-align: center;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: #2e2e2e;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 95%;
    height: ;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: relative;
}
